<template>
    <Appbar />
    <ShippingMethod/>
    <addToCart />
    <Comment />
    <TotalPayment/>
</template>

<script>
import Appbar from './Appbar/Appbar.vue'
import ShippingMethod from './ShippingMethod/ShippingMethod.vue';
import addToCart from './addToCart/addToCart.vue'
import Comment from './Comment/Comment.vue';
import TotalPayment from './TotalPayment/TotalPayment.vue';

export default {
    name: "MainCart",
    components: {
        Appbar,
        ShippingMethod,
        addToCart,
        Comment,
        TotalPayment,
    },

};
</script> 