<template>
    <div class="flex mx-[61px] mt-[40px] items-center justify-center flex-col">
        <img class="w-[162px] h-[165px] mb-[24px]" src="./OTP.jpg"/>
        <p class="text-[16px] font-bold mb-[12px]">Verifikasi Kode OTP</p>
        <p class="text-[14px] text-center">Masukkan nomor OTP yang telah kami kirim ke nomor telepon Anda</p>
    </div>
</template>
    
<script>

export default {
    name: 'ContentOTP',

}
</script>