<template>
    <div class="pt-[80px] h-[650px] flex flex-col px-[16px]">
        <img class="w-[350px] h-[230px] mb-[16px]" :src="singleProduct.thumbnail" />
        <div
            class="bg-grey w-[79px] h-[26px] rounded-[100px] text-center text-[12px] text-dark-grey flex justify-center items-center">
            {{ singleProduct.category }}</div>
        <p class="text-[14px] font-semibold mt-[12px]">{{ singleProduct.title }}</p>
        <p class="text-[14px] font-semibold mb-[24px]">${{ singleProduct.price }}</p>
        <hr />
        <p class="mt-[24px] text-[14px] font-semibold">Deskripsi Produk</p>
        <p class="text-[12px] text-dark-grey mt-[6px]">{{ singleProduct.description }}</p>
        <button class="h-[53px] w-[343px] mt-[20px] bg-green rounded-[100px] text-[14px] text-white font-semibold">Tambah Pesanan</button>
    </div>

</template>

<script>

export default {
    name: "DetailProduct",
    props: ["singleProduct"]
}
</script>