<template>
    <div class="mt-[16px] mx-[16px]">
        <div>
           <p class="text-[16px] font-semibold">Total Pembayaran</p> 
        </div>
        <button class="h-[48px] w-[343px] bg-green text-white rounded-[100px] mt-[16px] mb-[24px]">Buat Pesanan</button>
    </div>
</template>

<script>
    export default {
        name: 'TotalPayment'
    }
</script>