<template>
  <div class="p-[16px] h-[650px] flex flex-row w-[375] flex-wrap justify-between gap-[10px] mb-[5px] mt-[20px]">
    <div class="w-[73px] h-[73px] mb-[40px] text-[12px] flex justify-center items-center text-dark-grey flex-wrap"
      v-for="data in category" :key="data">
      <router-link :to="`/category/${data}`" class="w-[73px] flex flex-col items-center cursor-pointer">
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'smartphones'" src="../ProductCategoryImg/smartphone.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'laptops'" src="../ProductCategoryImg/laptop.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'fragrances'" src="../ProductCategoryImg/fragrances.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'skincare'" src="../ProductCategoryImg/skincare.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'groceries'" src="../ProductCategoryImg/groceries.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'home-decoration'" src="../ProductCategoryImg/home-decoration.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'furniture'" src="../ProductCategoryImg/furniture.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'tops'" src="../ProductCategoryImg/tops.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'womens-dresses'" src="../ProductCategoryImg/women-dress.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'womens-shoes'" src="../ProductCategoryImg/women-shoes.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'mens-shirts'" src="../ProductCategoryImg/tshirt.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'mens-shoes'" src="../ProductCategoryImg/man-shoes.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'mens-watches'" src="../ProductCategoryImg/man-watch.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'womens-watches'" src="../ProductCategoryImg/women-watch.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'womens-bags'" src="../ProductCategoryImg/women-bags.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'womens-jewellery'" src="../ProductCategoryImg/women-jewellery.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'sunglasses'" src="../ProductCategoryImg/sunglasses.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'automotive'" src="../ProductCategoryImg/automotive.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'motorcycle'" src="../ProductCategoryImg/motorcycle.png" />
        <img class="w-[50px] h-[50px] mb-[16px]" v-if="data === 'lighting'" src="../ProductCategoryImg/lighting.png" />

        <p class="text-center">{{ data }}</p>
      </router-link>
    </div>
  </div>


</template>
  
  <script>
  export default {
    name: "ListCategory",
    props: ["category"],
  }
  </script>