<template>
    <div class="flex items-center h-[54px] py-[19px] shadow-sm">
        <router-link to="/">
            <svg class="ml-[17px]" width="18" height="17" viewBox="0 0 18 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.2638 7.71768H4.31668L9.5362 2.49815C9.95334 2.08102 9.95334 1.39649 9.5362 0.979355C9.11907 0.56222 8.44524 0.56222 8.0281 0.979355L0.979599 8.02786C0.562464 8.44499 0.562464 9.11883 0.979599 9.53596L8.0281 16.5845C8.44524 17.0016 9.11907 17.0016 9.5362 16.5845C9.95334 16.1673 9.95334 15.4935 9.5362 15.0764L4.31668 9.85683H16.2638C16.8521 9.85683 17.3334 9.37553 17.3334 8.78726C17.3334 8.19899 16.8521 7.71768 16.2638 7.71768Z"
                    fill="#03AC0E" />
            </svg>
        </router-link>

        <p class="ml-[17px] text-[16px] font-semibold                                                       ">Daftar
            Baru</p>
    </div>
</template>

<script>

export default {
    name: 'RegisterAppbar',

}
</script>