<template>
    <div class="flex justify-center items-center flex-col">
        <img class="w-[226px] h-[230,7px] mt-[51px] mb-[34px]" src="./login.jpg" />
        <div>
            <p class="text-[24px] text-green font-bold text-center">Hai, fren! </p>
            <p class="text-[16px] mb-[40px]">Selamat Datang di Aplikasi WoiShop</p>
        </div>
    </div>
</template>

<script>

export default {
    name: 'HeaderLogin',

}
</script>