<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>icon.jpg">
    <title>WoiShop</title>
  </head>
  <body>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

      body {
        font-family: 'Rubik', sans-serif;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #cccc;
        display: flex;
        justify-content: center;

}
    </style>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
