<template>
  <div class="w-[375px] h-[600px] flex flex-wrap ml-[19.5px] gap-[12px]">
    <div class="flex flex-col h-[246px] w-[104px] mb-[32px] flex-wrap" v-for="data in products" :key="data">
      <router-link :to="`/Category/${data.category}/${data.id}`">
        <img class="w-[104px] h-[104px]" :src="data.thumbnail" />
        <p class="text-[12px] mt-[16px] h-[50px] flex-wrap">{{ data.title }}</p>
        <p class="text-[14px] font-semibold">${{ data.price }}</p>
      </router-link>
      <div>
        <button
          class="w-[104px] h-[37px] border border-green rounded-[100px] mt-[16px] text-[14px] font-semibold text-green"
          @click="addToCart(data.id)">Tambah</button>
      </div>

    </div>

  </div>
  <button>produk terpilih</button>

</template>

<script>
import axios from 'axios';

let cart = window.localStorage.getItem('cart');

export default {
  name: "ListProduct",
  props: [
    "products",
  ],

  data() {
    return {
      product: this.products,
      quantity: 1,
      cart: cart ? JSON.parse(cart) : [],

    }
  },

  setup() {
    let user = JSON.parse(localStorage.getItem("credentials"));
    let userID = user.id;

    return { userID }
  },

  methods: {
    async addToCart(props) {
      const item = {
        id: props,
        quantity: this.quantity,
      };
      try {
        const response = await axios.post("/carts/add", {
          userId: this.userID,
          products: [item],
        });
        
        const product = response.data.products[0]
        console.log(product, 'added')

        const currentCart = JSON.parse(localStorage.getItem("cart"))
        if (!currentCart) {
          console.log('undefined')
          const newCart = [product]
          localStorage.setItem("cart", JSON.stringify(newCart))
          const check = JSON.parse(localStorage.getItem("cart"))
          console.log('check', check)
        } else {
          console.log('yes')
          console.log('currentCart', currentCart)

          const findProduct = currentCart.find(cartProduct => cartProduct.id === product.id)
          
          if (findProduct) {
            const newArr = currentCart.map(cartProduct => {
                if (cartProduct.id === findProduct.id) {
                  return {...cartProduct, 
                  quantity: cartProduct.quantity + findProduct.quantity,
                  total: cartProduct.total + findProduct.price};
                }

                return cartProduct;
            });

           console.log('newCart', newArr)
           localStorage.setItem("cart", JSON.stringify(newArr))
          } else {
            const newCart = [...currentCart, product]
            console.log('newCart', newCart)
             localStorage.setItem("cart", JSON.stringify(newCart))
          }
        }
      } catch (error) {
        console.log(error);

      }
    },
  },




};








</script>