<template>
    <div class="h-[187px] pt-[78px] px-[16px] flex flex-row gap-[16px]">
        <div class="flex flex-col items-center">
            <img class="min-w-[74px] h-[74px]" src="./store.jpg" />
            <div
                class="absolute top-[135px] bg-green w-[53px] h-[26px] flex flex-row items-center gap-[5px] justify-center rounded-[100px] border border-white">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.9079 1.76578C10.304 1.11076 9.47528 0.75 8.57433 0.75C7.90088 0.75 7.28413 0.962911 6.74117 1.38277C6.4672 1.5947 6.21896 1.85399 6.00008 2.15662C5.7813 1.85408 5.53296 1.5947 5.2589 1.38277C4.71603 0.962911 4.09928 0.75 3.42583 0.75C2.52488 0.75 1.69611 1.11076 1.09218 1.76578C0.49546 2.41314 0.166748 3.29754 0.166748 4.25618C0.166748 5.24285 0.534447 6.14603 1.32387 7.09861C2.03007 7.9507 3.04505 8.81569 4.22042 9.81732C4.62177 10.1594 5.0767 10.5471 5.54907 10.9601C5.67386 11.0694 5.83399 11.1296 6.00008 11.1296C6.16608 11.1296 6.3263 11.0694 6.45091 10.9603C6.92329 10.5472 7.37848 10.1593 7.78001 9.81705C8.9552 8.81561 9.97018 7.9507 10.6764 7.09852C11.4658 6.14603 11.8334 5.24285 11.8334 4.25609C11.8334 3.29754 11.5047 2.41314 10.9079 1.76578Z"
                        fill="white" />
                </svg>
                <p class="text-[12px] font-semibold text-center">5.0</p>
            </div>
        </div>
        <div>
            <p class="text-[14px] font-semibold leading-[21px]">Toko Semesta</p>
            <p class="text-[12px] text-dark-grey leading-[18px]">Jl. Kasipah Raya No. 182, Jatingaleh, Kec. Candisari,
                Kota Semarang</p>
            <div class="flex flex-row gap-[8px] mt-[8px]">
                <div class="flex bg-dark-green text-[8px] w-[56px] h-[20px] text-center items-center justify-center text-white font-semibold rounded-[100px]">Express</div>
                <div class="w-[47px] h-[20px] bg-light-green text-[8px] rounded-[100px] flex text-center items-center justify-center text-green font-semibold">09.00</div>
                <div class="w-[47px] h-[20px] bg-light-green text-[8px] rounded-[100px] flex text-center items-center justify-center text-green font-semibold">16.00</div>
            </div>
        </div>
    </div>
    <div class="bg-grey h-[8px]"></div>
</template>

<script>


export default {
    name: "StoreCategory",

}
</script>