<template>
  <div>
    <Appbar />
    <Store />
    <div class="mt-[20px]">
      <p class="text-[16px] font-semibold ml-[16px]">Kategori Produk</p>
      <ListCategory :category="category" />
    </div>
    <div class="flex justify-center ">
      <button class="text-center mb-[20px] text-[12px] text-white w-[159px] h-[34px] bg-green rounded-[16px] shadow-md shadow-green-shadow">Jadikan Toko Favorit</button>
    </div>
  </div>
</template>

<script>

import Appbar from './Appbar/Appbar.vue';
import Store from './Store/Store.vue';
import ListCategory from './ListCategory/ListCategory.vue';
import axios from 'axios';

export default {
  name: "MainCategory",
  components: {
    Appbar,
    Store,
    ListCategory
  },

  data() {
    return {
      category: [],
    };
  },
  created() {
    axios
      .get("products/categories")
      .then(response => {
        this.category = response.data;
      })
      .catch(e => {
        console.log(e);
      });
  },

}
</script>