<template>
    <div>
        <Appbar :products="products" />
        <div class="pt-[80px] mb-[24px] flex ">
            <div class="relative mb-[24px]">
                <input class="w-[290px] h-[40px] ml-[16px] pl-[40px] border bg-[#FAFAFA] rounded-[100px]" placeholder="Cari Product"/>
                <svg class="absolute left-[30px] top-[10px] fill-white" width="16" height="17" viewBox="0 0 16 17"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-white" fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.90906 2.5C4.19786 2.5 2 4.69786 2 7.40906C2 10.1203 4.19786 12.3181 6.90906 12.3181C9.62025 12.3181 11.8181 10.1203 11.8181 7.40906C11.8179 4.69793 9.62018 2.50017 6.90906 2.5Z"
                        stroke="#7A7A7A" stroke-width="2" />
                    <path d="M10.5715 11.0715L14 14.5" stroke="#7A7A7A" stroke-width="2" stroke-linecap="round" />
                </svg>
            </div>
            <div class="bg-green w-[41px] h-[41px] ml-[14px] rounded-[100px] flex justify-center cursor-pointer">
                <svg class="w-6 fill-white" focusable="false" aria-hidden="true" viewBox="0 0 24 24"
                    data-testid="FilterAltIcon">
                    <path
                        d="M4.25 5.61C6.27 8.2 10 13 10 13v6c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-6s3.72-4.8 5.74-7.39c.51-.66.04-1.61-.79-1.61H5.04c-.83 0-1.3.95-.79 1.61z">
                    </path>
                </svg>

            </div>

        </div>

        <ListProduct :products="products" />
    </div>
</template>

<script>

import Appbar from './Appbar/Appbar.vue';
import ListProduct from './ListProduct/ListProduct.vue';
import axios from 'axios';

export default {
    name: "MainProduct",
    components: {
        Appbar,
        ListProduct
    },
    props: {
        id: {
            type: Number
        }
    },

    data() {
        return {
            products: [],
            category: "",
        }
    },

    created() {
        this.category = this.$route.params.category;
        axios
            .get(`products/category/${this.category}`)
            .then((res) => {
                this.products = res.data.products;
            })
            .catch((e) => {
                console.log(e);
            })
    }
}


</script>