<template>
    <div class="mx-[16px]">
        <div class="flex flex-row justify-between">
            <p class="text-[16px] font-semibold">Pesanan</p>
            <p class="text-[12px] font-semibold text-green">+ Tambah Pesanan</p>
        </div>
        <hr />

    </div>
    <div class="h-full bg-grey mb-[16px]">
         <div v-if="cart" class="">
            <div v-for="product in cart" :key="product.title">
                <p>{{product.title}}</p>
            </div>
        </div>

        <div v-if="total" class="error">total</div>
    </div>
</template>

<script>
export default {
    name: "addToCart",
    data() {
        return {
            cart: null,
            total: null,
        }
    },
    created() {
        this.cart = this.fetchCart()
    },
    methods: {
        fetchCart() {
            const cart = localStorage.getItem("cart")
            if (cart) {
                console.log(cart)
                return cart
            }
        }
    }


   
}
</script>