<template>
  <div class="h-[100vh] flex flex-col items-center justify-center">
    <img class="w-[50px] h-[50px] mb-[10px]" src="icon.jpg" />
    <p class="text-[18px]">Success Login, {{ message }}</p>
    <router-link to="/Category" class="mb-[20px] text-green font-semibold">Start Shopping</router-link>
    <a href="javascript:void(0)" class="text-red font-bold" @click="logout">Logout</a>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "SuccessLogin",
  setup() {
    const message = ref("");
    const router = useRouter();

    onMounted(async () => {
      try {
        const data = JSON.parse(localStorage.getItem("credentials"));
        message.value = `Hi ${data.firstName}`;
        let accessToken = JSON.parse(localStorage.getItem("credentials"));
        let token = `${accessToken.token}`;
        const decodedToken = VueJwtDecode.decode(token);
        if (decodedToken.exp * 1000 < Date.now()) {
          localStorage.removeItem("credentials");
          await router.push("/Login");
        }
      } catch {
        await router.push("/Login");
      }
    });
    const logout = async () => {
      localStorage.removeItem("credentials");
      await router.push("/login");
    };

    return {
      message,
      logout
    }
  }
};
</script>
