<template>
    <Header />
    <Form />
</template>

<script>
import Header from './Header/Header.vue';
import Form from './Form/Form.vue';

export default {
    name: "LoginMain",
    components: {
        Header,
        Form,
  
    }
}
</script>