<template>
  <div class="w-[375px] h-auto bg-white">
    <div v-if="isLoading">
      <SplashScreen />
    </div>
    <div v-if="!isLoading">
      <router-view />
    </div>
  </div>
</template>

<script>
import SplashScreen from './components/SplashScreen/SplashScreen.vue';

export default {
  name: 'App',
  components: {
    SplashScreen,
  },
  data() {
    return { isLoading: true };
  },
  mounted() {
    setTimeout(() => {
      this.isLoading = false;
    }, 1000);
  }
}
</script>

