<template>
    <div>
        <Appbar :singleProduct="singleProducts" />
        <DetailProduct :singleProduct="singleProducts"  />
    </div>
</template>

<script>

import Appbar from './Appbar/Appbar.vue';
import DetailProduct from './DetailProduct/DetailProduct.vue';
import axios from 'axios';

export default {
    name: "MainProduct",
    components: {
        Appbar,
        DetailProduct

    },
    data() {
        return {
            singleProducts: [],
            id: "",
            
        };
    },
    created() {
        this.error = this.post = null
        this.id = this.$route.params.id;
        axios
            .get(`products/${this.id}`)
            .then((res) => {
                this.singleProducts = res.data;
                console.log(res);
            })
            .catch((e) => { 
                console.log(e);
            })
    }

}
</script>