<template>
    <div class="mx-[16px] mb-[15px]">
        <p class="text-[16px] font-semibold mb-[16px]">Tambahkan Catatan</p>
        <hr />
        <div class="relative">
            <input class="h-[53px] w-[343px] mt-[16px] bg-grey rounded-[16px] text-[14px] pl-[52px]" placeholder="Masukkan catatan di sini"/>
            <label class="absolute left-[20px] top-[33px] focus:outline-none">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.6968 10.3174C11.3386 10.3174 11.0491 10.6069 11.0491 10.9651V12.9995C11.0491 13.3571 10.759 13.6472 10.4014 13.6472H3.27661C2.91906 13.6472 2.62891 13.357 2.62891 12.9995V4.57932C2.62891 4.22177 2.91909 3.93162 3.27661 3.93162H7.03979C7.39796 3.93162 7.68749 3.6421 7.68749 3.28393C7.68749 2.92576 7.39796 2.63623 7.03979 2.63623H3.27661C2.2053 2.63618 1.3335 3.50801 1.3335 4.57932V12.9995C1.3335 14.0708 2.2053 14.9426 3.27661 14.9426H10.4014C11.4727 14.9426 12.3445 14.0715 12.3445 12.9995V10.9651C12.3445 10.6069 12.055 10.3174 11.6968 10.3174Z"
                        fill="#292929" />
                    <path
                        d="M13.9426 2.55411C13.4724 2.08388 12.8583 1.8468 12.2398 1.83386C11.5888 1.81962 10.934 2.05537 10.4418 2.54827L6.05675 6.93327C5.41682 7.57581 5.06445 8.42819 5.06445 9.33366V10.7845C5.06445 11.1427 5.35398 11.4322 5.71215 11.4322H7.16301C8.06851 11.4322 8.92089 11.0799 9.56406 10.4393L13.9432 6.06011C14.9083 5.09442 14.9083 3.52049 13.9426 2.55411ZM8.64889 9.52283C8.25184 9.91858 7.72331 10.1369 7.16306 10.1369H6.35987V9.33369C6.35987 8.77342 6.57815 8.24488 6.97325 7.84849L9.86398 4.95776L11.5389 6.63273L8.64889 9.52283ZM13.0268 5.14494L12.4548 5.71689L10.7798 4.04192L11.3518 3.47C11.8142 3.00754 12.5656 3.00884 13.0267 3.47C13.4879 3.93179 13.4879 4.68313 13.0268 5.14494Z"
                        fill="#292929" />
                </svg>
            </label>
        </div>
    </div>
    <hr />
</template>

<script>
export default {
    name: "CommentCart"
}

</script>